*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(bg3.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
} 

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: skyblue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: none;
    transition: o.4s ease-in-out;
}

ul li a:hover{
    color: skyblue;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    font-weight: bold;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    margin-top: 20px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: white;
    border: 2px whitesmoke;
    margin-top: 20px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin:auto;
    color:white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    color: skyblue;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: skyblue;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3 ease;
}

.cn:hover{
    background-color: white;
}

.form{
    width: 250px;
    height: 380px;
    background: transparent;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: skyblue;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240 px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid skyblue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.login-btn{
    width: 240px;
    height: 40px;
    background: skyblue;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.login-btn a{
    text-decoration: none;
    color: black;
    transition: .4 ease;
}

.login-btn:hover{
    background-color: white;
}




















